#scoreboard {
  margin-right: 2%;
  padding: 1%;
  background-color: rgb(182, 197, 96);
  height: min-content;
  min-width: fit-content;
  width: 15%;
  text-align: center;
  font-size: 2vw;
  border-radius: 10px;
}

#scoreboard > img {
  z-index: -1;
  position: absolute;
  max-width: 20%;
  height: auto;
  left: 0;
  top: 0;
}
